<h1>Update call</h1>

<% if coach? %>
<%= render "coach_form", call: @call %>
<% else %>
<%= render "student_form", call: @call %>
<% end %>

<br>

<div>
  <%= link_to "Show this call", @call %> |
  <%= link_to "Back to calls", calls_path %>
</div>
