<div id="<%= dom_id coach %>">
  <p>
    <strong>Name:</strong>
    <%= coach.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= coach.type %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= coach.phone %>
  </p>
</div>
